<div class="bg-dark border-right p-3" id="sidebar">
    <h3 class="text-light">Gestión de Empleados</h3>
    <hr class="text-white">

    <div  class="list-group list-reset">
        <button  
        class="list-group-item list-group-item-action mb-2 rounded"
        >
        Nuevo Usuario
        </button>
        <button  
        class="list-group-item list-group-item-action mb-2 rounded"
        >
        Lista de usuario
        </button>
        <button  
        class="list-group-item list-group-item-action mb-2 rounded"
        >
        Productos
        </button>
    </div>
</div>